version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: xml2pg-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5433:5432"

    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
